atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
click==6.7
Flask==1.0.2
funcsigs==1.0.2
## !! Could not determine repository location
Hangman==1.0
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
more-itertools==4.2.0
pluggy==0.6.0
py==1.5.3
pytest==3.6.1
six==1.11.0
Werkzeug==0.15.3
